<!DOCTYPE html>
    <!--At the top we've included Bootstrap from a CDN. 
    In the body tag, we've made use of Bootstrap's grid system to align our content in the middle of the screen. 
    We've also stylized the posts list and "Add a new post" form to make things a little easier to read. 
    There's a lot more that could be done on this front so feel free to mess around 
    with more styling before (or after) you continue.-->
<html>
    <head>
        <title>Flapper News</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <!--lets include the library-->
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <style>
 .glyphicon-thumbs-up { cursor:pointer }
            * {
  font-family: 'Open Sans', sans-serif;
}
  #facey {
    float: left;
    width:32px;
    height: 32px;
    background:url(images/left-arrow.png) no-repeat 0 0;
    }
.center-grey {
  background: #f2f2f2;
}
.slider {
  position: relative;
  padding: 5px;
  width: 610px;
  margin: auto;
  margin-top: 40px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px #999;
}
.arrows {
  position: absolute;
  top: 10px;
  right: 20px;
}
.arrows img {
  height: 32px;
}
        </style>
    </head>

    <!--Finally, we need to tell ui-router where to place the template of the active state.-->
    <!--Whenever ui-router detects a route change, it will place the new state's template inside the tag 
    and initialize the controller we specified in our state configuration. 
    Notice how we have removed the ng-controller="MainCtrl" line from the opening <body> tag.-->
    <body ng-app="flapperNews">

        <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
        
        <!--Add our inline home template right before the </body> tag in index.html:-->
        <script type="text/ng-template" id="/home.html">
            <div class="page-header">
              <h1>Flapper News</h1>
            </div>
            
            <!-- rest of template -->
              <div ng-repeat="post in posts | orderBy:'-upvotes'">
             <span ng-show="post.author">
            posted by <a>{{post.author}}</a> |
        </span>
                    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
                    <span style="font-size:20px; margin-left:10px;">
                        <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
                        </a>
                        <span ng-hide="post.link">
            {{post.title}}
                        </span>

            
</span>
           
            <span>
 <!-- <a href="#/posts/{{$index}}">Comments</a>-->
            <a href="#/posts/{{post._id}}">Comments</a>
</span>
                       
                </div>
  <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>
             <!--  <form ng-submit="addPost()" style="margin-top:30px;">--> 
            <form ng-submit="addPost()"
  ng-show="isLoggedIn()"
  style="margin-top:30px;">
          
                    <h3>Add a new post</h3>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
             <slider posts="posts"/>
        </script>
        <script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h3>
      <a ng-show="post.link" href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
    </h3>
  </div>


            <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
			<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
			</span>
		    </div>

          <!--  <form ng-submit="addComment()"
    style="margin-top:30px;">-->
 <div ng-hide="isLoggedIn()">
  <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
</div>
            <form ng-submit="addComment()"
  ng-show="isLoggedIn()"
  style="margin-top:30px;">

           

    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
             
</script>
        <script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>
        <script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>Flapper News</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  </script>
    </body>
</html>