<div class="slider">
	<div class="slide" ng-repeat="post in posts" ng-show="post.visible">
		             <span ng-show="post.author">
            posted by <a>{{post.author}}</a> |
        </span>
                    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
        {{post.upvotes}}
                    <span style="font-size:20px; margin-left:10px;">
                        <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
                        </a>
                        <span ng-hide="post.link">
            {{post.title}}
                        </span>

            
</span>
           
            <span>
 <!-- <a href="#/posts/{{$index}}">Comments</a>-->
            <a href="#/posts/{{post._id}}">Comments</a>
</span>
	</div>
	<div class="arrows">
		<a href="#" ng-click="prev()"><img src="imgages/left-arrow.png"/></a> <a href="#" ng-click="next()"><img src="imgages/right-arrow.png"/></a>
	</div>
</div>